<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online shop</title>
</head>
<body>
<header id="header">
    <h1>WELCOME TO MY SHOP</h1>
</header>
<div id="home">
    <header id="categories">
        <div class="category" id="c1">category 1</div>
        <div class="category" id="c2">category 2</div>
        <div class="category" id="c3">category 3</div>
    </header>
    <div id="item_list">
        {% for i in items %}
            <div class="items">
                {{ i.items_name }}
            </div>
        {% endfor %}
    </div>
</div>
<style>
.items{
    width: 100px;
    height: 100px;
    border-style: groove;
    background-color: blue;
}
</style>
</body>
</html>